body{
background: url(bleh.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#head{
	font-family: "Courier New", Courier, monospace;
	font-weight: 300;
	color: white;
	margin: 50px;
}
#main_div{
	width:70%;
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 20px;
	display:flex;
	padding: 10px;
    	height: 600px;
	padding-left: 100px;
	
	
}
#content{
	overflow: auto;
	width: 76%;
	padding-top: 0px;
	height: 600px;
	margin: 1px
}
#div1{
	background: #212121;
	padding-top: 0px;
	margin-top: 0px;
	border-radius: 5px;
	margin-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
}
.head1{
	font-family: "Courier New", Courier, monospace;
	padding-top: 0px;
	margin-top: 10px;
	padding-top: 0px;
	color: #FF5722;
	font-weight: 600;

    

}
.head2{
	font-family: "Courier New", Courier, monospace;
	padding-top: 0px;
	margin-top: 10px;
	padding-top: 0px;
	color: black;
	font-weight: 600;

    

}
#pic_div{
	width: 20%
	margin: 3px;
	height: 600px;
	border-radius: 5px;

}
#p1{
	color: white;
	font-size: 20px
	padding 10px;
	margin: 30 

}
#p2{
	padding-top: 5px;
	margin: 5px;
}
#ul1{
	color: white;
}
#div2{
	background: #ffff;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-right: 20px;
	padding-left: 20px;

}
#img{
	border-radius: 5px; 
}
#div3{
	background: #212121;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	margin-bottom: 0px;
    color: white;
    padding-right: 20px;
	padding-left: 20px;
}
#div4{
	
	background: #ffff;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-right: 20px;
	padding-left: 20px;


}
.dimg1{
	margin-bottom: 30px;
	width:30px;
	height: 20px;
}
